@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../../fonts/roboto_400/Roboto-Regular.ttf) format("truetype"), url(../../fonts/roboto_400/Roboto-Regular.woff) format("woff"), url(../../fonts/roboto_400/Roboto-Regular.woff2) format("woff2"), url(../../fonts/roboto_400/Roboto-Regular.eot) format("embedded-opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../../fonts/roboto_500/Roboto-Medium.ttf) format("truetype"), url(../../fonts/roboto_500/Roboto-Medium.woff) format("woff"), url(../../fonts/roboto_500/Roboto-Medium.woff2) format("woff2"), url(../../fonts/roboto_500/Roboto-Medium.eot) format("embedded-opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../../fonts/roboto_700/Roboto-Bold.ttf) format("truetype"), url(../../fonts/roboto_700/Roboto-Bold.woff) format("woff"), url(../../fonts/roboto_700/Roboto-Bold.woff2) format("woff2"), url(../../fonts/roboto_700/Roboto-Bold.eot) format("embedded-opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../../fonts/inter_600/Inter-SemiBold.ttf) format("truetype"), url(../../fonts/inter_600/Inter-SemiBold.woff) format("woff"), url(../../fonts/inter_600/Inter-SemiBold.woff2) format("woff2"), url(../../fonts/inter_600/Inter-SemiBold.eot) format("embedded-opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../../fonts/inter_700/Inter-Bold.ttf) format("truetype"), url(../../fonts/inter_700/Inter-Bold.woff) format("woff"), url(../../fonts/inter_700/Inter-Bold.woff2) format("woff2"), url(../../fonts/inter_700/Inter-Bold.eot) format("embedded-opentype");
  font-weight: 700;
}
:root {
  --body-bg-color: #fff;
  --main-text-color: #102134;
  --secondary-text-color: #1d1d1d;
  --btns-bg-color: #ff5625;
  --btns-text-color: #ffffff;
  --decorator-color: #5076ff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--main-text-color);
  font-style: normal;
  overflow-x: hidden;
}

.container {
  max-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}
@media screen and (min-width: 744px) {
  .container {
    max-width: 744px;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 90px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 80px;
  background-color: var(--btns-bg-color);
  color: var(--btns-text-color);
  transition: 0.3s;
}
.button a {
  padding: 14px 0;
  width: 290px;
}
@media screen and (min-width: 1024px) {
  .button a {
    width: 380px;
  }
}
@media screen and (min-width: 1024px) {
  .button {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .button:hover {
    transform: scale(1.02);
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}

.heading-h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  color: var(--main-text-color);
}
@media screen and (min-width: 744px) {
  .heading-h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .heading-h1 {
    font-size: 44px;
  }
}
.heading-h1 span {
  display: none;
}
@media screen and (min-width: 744px) {
  .heading-h1 span {
    display: block;
  }
}

.heading-h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  color: var(--decorator-color);
}
@media screen and (min-width: 744px) {
  .heading-h2 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .heading-h2 {
    font-size: 36px;
  }
}
.heading-h2 span {
  color: var(--main-text-color);
}

.heading-h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
}
@media screen and (min-width: 744px) {
  .heading-h3 {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .heading-h3 {
    font-size: 36px;
  }
}

.section {
  padding: 20px 0;
}
@media screen and (min-width: 744px) {
  .section {
    padding: 40px 0;
  }
}

.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

li {
  list-style-type: none;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.text,
.title {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  color: currentColor;
  margin: 0;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.hero {
  position: relative;
  padding-bottom: 20px;
  overflow: hidden;
}
@media screen and (min-width: 744px) {
  .hero {
    padding-bottom: 110px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding-bottom: 240px;
  }
}
.hero:before {
  position: absolute;
  content: "";
  right: -300px;
  top: -80px;
  width: 600px;
  height: 600px;
  background-image: url("../images/hero/hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
@media screen and (min-width: 744px) {
  .hero:before {
    width: 670px;
    height: 670px;
    right: -335px;
    top: -90px;
  }
}
@media screen and (min-width: 1024px) {
  .hero:before {
    width: 738px;
    height: 738px;
    right: -100px;
    top: 0;
  }
}

.hero-title {
  max-width: 262px;
  margin-top: 232px;
}
@media screen and (min-width: 744px) {
  .hero-title {
    max-width: 360px;
    margin-top: 94px;
  }
  .hero-title span {
    text-transform: uppercase;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    color: var(--decorator-color);
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 744px) and (min-width: 1024px) {
  .hero-title span {
    font-size: 72px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-title {
    margin-top: 80px;
    max-width: 370px;
  }
}

.btn-hero {
  margin-top: 152px;
}
@media screen and (min-width: 744px) {
  .btn-hero {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .btn-hero {
    margin-top: 40px;
  }
}

.hero-decorator {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 744px) {
  .hero-decorator {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .section-about {
    padding-bottom: 160px;
  }
}

.section-about-list {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 744px) {
  .section-about-list {
    margin-top: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .section-about-list {
    gap: 22px;
  }
}
.section-about-list li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  width: 100%;
}
.section-about-list li:after {
  position: absolute;
  content: "";
  display: block;
  left: 1px;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 0.5px dotted var(--main-text-color);
  font-size: 0;
}
.section-about-list p {
  max-width: 245px;
  padding-bottom: 3px;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .section-about-list p {
    max-width: 530px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .section-about-list p {
    max-width: 800px;
    font-size: 18px;
  }
}
.section-about-list svg {
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 1024px) {
  .section-about-list svg {
    width: 18px;
    height: 18px;
  }
}

.section-about__image {
  position: relative;
  height: 306px;
  padding-bottom: 20px;
}
.section-about__image:before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 215px;
  height: 306px;
  background-image: url("../images/content/about.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .section-about__image:before {
    width: 311px;
    height: 446px;
  }
}

.about-icons-wrapper {
  margin-top: 6px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
  height: 100%;
}
@media screen and (min-width: 744px) {
  .about-icons-wrapper {
    gap: 40px;
    margin-top: 75px;
  }
  .about-icons-wrapper svg {
    width: 127px;
    height: 127px;
  }
}
@media screen and (min-width: 744px) and (min-width: 1024px) {
  .about-icons-wrapper svg {
    width: 134px;
    height: 134px;
  }
}
@media screen and (min-width: 1024px) {
  .about-icons-wrapper {
    margin-top: 94px;
  }
}
.about-icons-wrapper__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
@media screen and (min-width: 744px) {
  .about-icons-wrapper__block {
    flex-direction: row;
    gap: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .about-icons-wrapper__block {
    gap: 83px;
  }
}

.heading-about {
  text-align: center;
}

.spoilers-wrapper {
  margin-top: 13px;
}

.spoilers-reason-list {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
@media screen and (min-width: 1024px) {
  .spoilers-reason-list {
    gap: 22px;
  }
}
.spoilers-reason-list li {
  position: relative;
  padding-bottom: 4px;
  width: 100%;
  cursor: pointer;
}
.spoilers-reason-list li:after {
  position: absolute;
  content: "";
  display: block;
  left: 1px;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 0.5px dotted var(--main-text-color);
  font-size: 0;
}
.spoilers-reason-list__header {
  position: relative;
}
.spoilers-reason-list__header > p {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 1024px) {
  .spoilers-reason-list__header > p {
    font-size: 18px;
  }
}
.spoilers-reason-list__header p {
  max-width: 240px;
  display: block;
}
@media screen and (min-width: 744px) {
  .spoilers-reason-list__header p {
    min-width: 550px;
  }
}
.spoilers-reason-list__header.active:before {
  display: none;
  transition: 0.3s ease-out;
}
.spoilers-reason-list__header:before {
  position: absolute;
  content: "";
  right: 8.5px;
  top: 0;
  width: 3px;
  height: 20px;
  background-color: var(--decorator-color);
  transition: 0.3s ease-out;
}
.spoilers-reason-list__header:after {
  position: absolute;
  content: "";
  position: absolute;
  right: 0;
  top: 8.5px;
  width: 20px;
  height: 3px;
  background-color: var(--decorator-color);
  transition: 0.3s ease-out;
}
.spoilers-reason-list__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.spoilers-reason-list__content p {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  max-width: 306px;
}
@media screen and (min-width: 744px) {
  .spoilers-reason-list__content p {
    max-width: 620px;
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .spoilers-reason-list__content p {
    max-width: 630px;
    font-size: 16px;
  }
}
.spoilers-reason-list__content.active {
  max-height: 320px;
}

.reason-heading {
  color: var(--main-text-color);
}

.section-usage {
  background-color: var(--decorator-color);
  padding-bottom: 320px;
}
@media screen and (min-width: 744px) {
  .section-usage {
    padding-bottom: 385px;
  }
}
@media screen and (min-width: 1024px) {
  .section-usage {
    padding-top: 20px;
    padding-bottom: 390px;
  }
}
.section-usage__image-wrapper {
  position: absolute;
  bottom: -320px;
}
@media screen and (min-width: 744px) {
  .section-usage__image-wrapper {
    right: 0;
    bottom: -300px;
  }
}

.section-usage-list li {
  position: relative;
  margin-top: 10px;
}

.section-usage-sublist {
  display: flex;
  flex-direction: column;
}
.section-usage-sublist li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 22px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .section-usage-sublist li {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .section-usage-sublist li {
    font-size: 16px;
    padding-left: 26px;
  }
}
.section-usage-sublist li:first-child {
  padding-left: 0;
  gap: 8px;
}
.section-usage-sublist__about {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 744px) {
  .section-usage-sublist__about {
    font-size: 18px;
  }
}
.section-usage-sublist svg {
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 1024px) {
  .section-usage-sublist svg {
    width: 18px;
    height: 18px;
  }
}

.usage-title {
  color: var(--secondary-text-color);
}

.decorator {
  width: 100%;
  height: 1px;
  border-bottom: 0.5px dotted var(--main-text-color);
}

.section-container {
  position: relative;
}

.usage-image-wrapper {
  height: 302px;
  position: relative;
  width: 300px;
}
.usage-image-wrapper:before {
  position: absolute;
  content: "";
  width: 240px;
  height: 290px;
  left: 20px;
  top: 0;
  background-image: url("../images/content/phones.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 20;
}
@media screen and (min-width: 744px) {
  .usage-image-wrapper:before {
    width: 320px;
    height: 368px;
    left: -80px;
    top: 0;
  }
}
@media screen and (min-width: 1024px) {
  .usage-image-wrapper:before {
    width: 410px;
    height: 471px;
    left: -215px;
    top: -115px;
  }
}

.section-contacts {
  padding-bottom: 40px;
}
@media screen and (min-width: 744px) {
  .section-contacts {
    padding-top: 0;
  }
}

.contacts-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 744px) {
  .contacts-wrapper {
    align-items: flex-start;
  }
}
.contacts-wrapper__adress {
  margin-top: 40px;
}
@media screen and (min-width: 744px) {
  .contacts-wrapper__adress {
    margin-top: 80px;
  }
}
.contacts-wrapper__adress ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
}
@media screen and (min-width: 1024px) {
  .contacts-wrapper__adress ul {
    gap: 12px;
  }
}
.contacts-wrapper__adress ul li {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--main-text-color);
}

@media screen and (min-width: 1024px) {
  .contact-heading {
    font-size: 32px;
  }
}

.desktop-header-wrapper {
  display: none;
}
@media screen and (min-width: 744px) {
  .desktop-header-wrapper {
    display: block;
  }
}

@media screen and (min-width: 744px) {
  .mobile-header-wrapper {
    display: none;
  }
}
.mobile-header-wrapper__content {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-header-wrapper__content-logo {
  width: 41px;
  height: 47px;
}

.desktop-header-wrapper__content {
  padding: 20px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.desktop-header-wrapper__content-logo {
  width: 72px;
  height: 72px;
  padding-bottom: 2px;
}
@media screen and (min-width: 1024px) {
  .desktop-header-wrapper__content-logo {
    width: 100px;
    height: 114px;
  }
}
.desktop-header-wrapper__nav-list {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}
.desktop-header-wrapper__nav-list a {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 1024px) {
  .desktop-header-wrapper__nav-list a {
    font-size: 18px;
  }
}

.open-menu-btn {
  z-index: 100;
  background: transparent;
}

footer {
  padding-bottom: 20px;
  position: relative;
}
@media screen and (min-width: 744px) {
  footer {
    padding-bottom: 70px;
  }
}

.footer-content {
  padding-top: 20px;
  border-top: 0.5px dotted var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 744px) {
  .footer-nav-list {
    gap: 12px;
  }
}
.footer-nav-list a {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .footer-nav-list a {
    font-size: 15px;
  }
}

.footer-nav-adress-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 744px) {
  .footer-nav-adress-list {
    gap: 12px;
  }
}
.footer-nav-adress-list a {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 744px) {
  .footer-nav-adress-list a {
    font-size: 15px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-bg-color);
  z-index: 9999;
  transition: opacity 0.3s ease-out;
  overflow-y: hidden;
  transform: translateX(150%);
  transition: 0.5s ease-out;
}
.backdrop.open {
  transform: translateX(0);
}
.backdrop.closed {
  pointer-events: none;
}

.menu-wrapper {
  padding: 90px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.menu-nav-list a {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-close {
  position: absolute;
  right: 20px;
  top: 12px;
  background-color: transparent;
}/*# sourceMappingURL=main.css.map */