.section-about {
  @include media(desktop) {
    padding-bottom: 160px;
  }
}

.section-about-list {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;

  @include media(tablet) {
    margin-top: 16px;
  }

  @include media(desktop) {
    gap: 22px;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    width: 100%;
  }

  li:after {
    position: absolute;
    content: "";
    display: block;
    left: 1px;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 0.5px dotted var(--main-text-color);
    font-size: 0;
  }

  p {
    max-width: 245px;
    padding-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;

    @include media(tablet) {
      max-width: 530px;
      font-size: 16px;
    }
    @include media(desktop) {
      max-width: 800px;
      font-size: 18px;
    }
  }

  svg {
    width: 14px;
    height: 14px;

    @include media(desktop) {
      width: 18px;
      height: 18px;
    }
  }
}

.section-about__image {
  position: relative;
  height: 306px;
  padding-bottom: 20px;

  &:before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 215px;
    height: 306px;
    background-image: url("../images/content/about.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include media(desktop) {
      width: 311px;
      height: 446px;
    }
  }
}

.about-icons-wrapper {
  margin-top: 6px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
  height: 100%;

  @include media(tablet) {
    gap: 40px;
    margin-top: 75px;

    svg {
      width: 127px;
      height: 127px;
      @include media(desktop) {
        width: 134px;
        height: 134px;
      }
    }
  }

  @include media(desktop) {
    margin-top: 25px;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

    @include media(tablet) {
      flex-direction: row;
      gap: 70px;
    }
    @include media(desktop) {
      gap: 83px;
    }
  }
}
