.section-about-list {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;

  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    width: 100%;

    padding-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
  }

  li:after {
    position: absolute;
    content: "";
    display: block;
    left: 1px;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 0.5px dotted var(--main-text-color);
    font-size: 0;
  }

  p {
    max-width: 245px;
  }
}

.section-about__image {
  position: relative;
  height: 306px;
  padding-bottom: 20px;

  &:before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 215px;
    height: 306px;
    background-image: url("../../images/content/about.png");
  }
}
