.spoilers-wrapper {
  margin-top: 13px;
}

.spoilers-reason-list {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;

  @include media(desktop) {
    gap: 22px;
    max-width: 650px;
  }

  li {
    position: relative;
    padding-bottom: 4px;
    width: 100%;
    cursor: pointer;

    &:after {
      position: absolute;
      content: "";
      display: block;
      left: 1px;
      bottom: 0;
      width: 100%;
      height: 1px;
      border-bottom: 0.5px dotted var(--main-text-color);
      font-size: 0;
    }
  }

  &__header {
    position: relative;
    & > p {
      font-size: 16px;
      font-weight: 600;
      line-height: normal;

      @include media(desktop) {
        font-size: 18px;
      }
    }
    p {
      max-width: 240px;
      display: block;
      @include media(tablet) {
        min-width: 550px;
      }
    }

    &.active:before {
      display: none;
      transition: 0.3s ease-out;
    }

    &:before {
      position: absolute;
      content: "";
      right: 8.5px;
      top: 0;
      width: 3px;
      height: 20px;
      background-color: var(--decorator-color);
      transition: 0.3s ease-out;
    }
    &:after {
      position: absolute;
      content: "";
      position: absolute;
      right: 0;
      top: 8.5px;
      width: 20px;
      height: 3px;
      background-color: var(--decorator-color);
      transition: 0.3s ease-out;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    p {
      margin-top: 4px;
      font-size: 13px;
      font-weight: 400;
      line-height: normal;
      max-width: 306px;

      @include media(tablet) {
        max-width: 620px;
        font-size: 15px;
      }

      @include media(desktop) {
        max-width: 630px;
        font-size: 16px;
      }
    }

    &.active {
      max-height: 320px;
    }
  }
}

.reason-heading {
  color: var(--main-text-color);
}
