.section-contacts {
  padding-bottom: 40px;

  @include media(tablet) {
    padding-top: 0;
  }
}

.contacts-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include media(tablet) {
    align-items: flex-start;
  }

  &__adress {
    margin-top: 40px;

    @include media(tablet) {
      margin-top: 80px;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 9px;

      @include media(desktop) {
        gap: 12px;
      }

      li {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: var(--main-text-color);
      }
    }
  }
}

.contact-heading {
  @include media(desktop) {
    font-size: 32px;
  }
}
