.section-usage {
  background-color: var(--decorator-color);
  padding-bottom: 340px;

  @include media(tablet) {
    padding-bottom: 330px;
  }

  @include media(desktop) {
    padding-top: 20px;
    padding-bottom: 390px;
  }

  &__image-wrapper {
    position: absolute;
    bottom: -320px;

    @include media(tablet) {
      right: 0;
      bottom: -300px;
    }
  }
}
.section-usage-list {
  li {
    position: relative;
    margin-top: 10px;
  }
}

.section-usage-sublist {
  display: flex;
  flex-direction: column;

  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 22px;

    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @include media(tablet) {
      font-size: 15px;
    }

    @include media(desktop) {
      font-size: 16px;
    }

    &:first-child {
      padding-left: 0;
      gap: 8px;
    }
  }

  &__about {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: var(--secondary-text-color);

    @include media(tablet) {
      font-size: 18px;
    }
  }

  svg {
    width: 14px;
    height: 14px;

    @include media(desktop) {
      width: 18px;
      height: 18px;
    }
  }
}

.usage-title {
  color: var(--secondary-text-color);
}
.decorator {
  width: 100%;
  height: 1px;
  border-bottom: 0.5px dotted var(--main-text-color);
}

.section-container {
  position: relative;
}

.usage-image-wrapper {
  height: 302px;
  position: relative;
  width: 300px;

  &:before {
    position: absolute;
    content: "";
    width: 145px;
    height: 290px;
    left: 20px;
    top: 26px;
    background-image: url("../images/content/usage_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 20;

    @include media(desktop) {
      width: 251px;
      height: 466px;
      left: -220px;
      top: -95px;
    }
  }

  &:after {
    position: absolute;
    content: "";
    width: 133px;
    height: 281px;
    left: 145px;
    top: 10px;
    background-image: url("../images/content/usage_2.png");
    background-size: cover;
    background-repeat: no-repeat;

    @include media(tablet) {
      right: 0;
      bottom: 0;
    }

    @include media(desktop) {
      width: 215px;
      height: 455px;
      left: -25px;
      top: -120px;
    }
  }
}
