body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--main-text-color);
  font-style: normal;
  overflow-x: hidden;
}

.container {
  max-width: 320px;
  padding: 0 10px;
  margin: 0 auto;

  @include media(tablet) {
    max-width: 744px;
    padding: 0 30px;
  }

  @include media(desktop) {
    max-width: 1024px;
    padding: 0 90px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 308px;
  padding: 14px 0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 80px;
  background-color: var(--btns-bg-color);
  color: var(--btns-text-color);
  transition: 0.3s;

  @include media(desktop) {
    font-size: 24px;
    width: 420px;
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.02);
      transition: 0.3s;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  }
}

.heading-h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  color: var(--main-text-color);

  @include media(tablet) {
    font-size: 40px;
  }
  @include media(desktop) {
    font-size: 44px;
  }

  span {
    display: none;

    @include media(tablet) {
      display: block;
    }
  }
}

.heading-h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  color: var(--decorator-color);

  @include media(tablet) {
    font-size: 32px;
  }

  @include media(desktop) {
    font-size: 36px;
  }

  span {
    color: var(--main-text-color);
  }
}

.heading-h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;

  @include media(tablet) {
    font-size: 32px;
  }

  @include media(desktop) {
    font-size: 36px;
  }
}

.section {
  padding: 20px 0;

  @include media(tablet) {
    padding: 40px 0;
  }
}
