body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--main-text-color);
  font-style: normal;
  overflow-x: hidden;
}

.container {
  max-width: 480px;
  padding: 0 10px;
  margin: 0 auto;

  @include media(tablet) {
    max-width: 768px;
    padding: 0 30px;
  }

  @include media(desktop) {
    max-width: 1366px;
    padding: 0 30px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 308px;
  padding: 14px 0;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 80px;
  background-color: var(--btns-bg-color);
  color: var(--btns-text-color);
}

.heading-h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
  color: var(--main-text-color);

  span {
    display: none;
  }
}

.heading-h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  color: var(--decorator-color);

  span {
    color: var(--main-text-color);
  }
}

.heading-h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
}

.section {
  padding: 20px 0;
}
