footer {
  padding-bottom: 20px;
  position: relative;

  @include media(tablet) {
    padding-bottom: 70px;
  }
}
.footer-content {
  padding-top: 20px;
  border-top: 0.5px dotted var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(tablet) {
    gap: 12px;
  }

  a {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @include media(tablet) {
      font-size: 15px;
    }
  }
}

.footer-nav-adress-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(tablet) {
    gap: 12px;
  }

  a {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @include media(tablet) {
      font-size: 15px;
    }
  }
}
